@{
    ViewBag.Title = "Mesaj";
    Layout = "~/Views/Shared/_Ogrenci.cshtml";
}
<link rel="stylesheet" href="~/Content/Mesaj.css">
<div style="margin-top:50px;"></div>
<div class="sidebar">
    <div class="active">Adminler</div>
    @foreach (var ogr in ViewBag.yoneticiler)
    {
        @*<a href="/Ogrenci/Mesajlar/@ogr.ID">@ogr.ISIM</a>*@
        <!--@Html.ActionLink("Mesajlar", "Mesajlar", new { id = ogr.ID, tablo = 2 }, null) ;-->
        String isim = ogr.ISIM;

        @Html.ActionLink(
             linkText: isim,
             actionName: "Mesajlar",
             controllerName: "Ogrenci",
             routeValues: new
                  {
                 id = ogr.ID,
                 tablo = 2
             },
             htmlAttributes: null
            )
    }
    <div class="active">Ogretmenler</div>
    @foreach (var ogr in ViewBag.ogr)
    {
        @*<a href="/Ogrenci/Mesajlar/@ogr.ID">@ogr.ISIM</a>*@
        <!--@Html.ActionLink("Mesajlar", "Mesajlar", new { id = ogr.ID, tablo = 1 }, null) ;-->
        String isim = ogr.ISIM;

        @Html.ActionLink(
             linkText: isim,
             actionName: "Mesajlar",
             controllerName: "Ogrenci",
             routeValues: new
                  {
                 id = ogr.ID,
                 tablo = 1
             },
             htmlAttributes: null
            )
    }
</div>


